/* .box {
  position: absolute;
  bottom: 51px;
  right: 16px;
  transform: translate(-0%, 50%);
} */

.btn {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-weight: 700;
  color: #ff4500;
  background-color: #333333;
  padding: 10px 60px;
  filter: drop-shadow(4px 6px 6px #222222);
  display: inline-block;
  transition: all 0.1s;
  cursor: pointer;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  top: 0;
  left: 0;
  padding: 10px 60px;
  border-radius: 0px;
  display: inline-block;
  transition: all 0.1s;
}

.btn:hover,
.btn:active {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);
}

.btn::after {
  background-color: #333333;
}

.btn::after {
  content: "";
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0px;
  display: inline-block;
  z-index: -1;
  transition: all 0.5s;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/* DAQUI PRA BAIXO APAGA*/
