:root {
  --border-size: 0.1rem;
  --duration: 250ms;
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --font-family: Roboto;
  --color-primary: rgb(0, 0, 0);
  --color-secondary: orangered;
  --color-tertiary: dodgerblue;
  --shadow: rgba(0, 0, 0, 0.1);
  --space: 1rem;
}

.multi-button {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: auto;
  box-shadow: 0px 1px 5px grey;
}

.multi-button button {
  flex: 1;
  min-width: 61px;
  display: flex;
  width: 30%;
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  padding: calc(var(--space) / 1.125) var(--space) var(--space);
  border: var(--border-size) solid rgb(214, 214, 214);
  color: var(--color-secondary);
  background-color: var(--color-primary);
  font-size: 1rem;
  font-family: var(--font-family);
  text-transform: uppercase;
  text-shadow: var(--shadow) 1px 1px;
  transition: flex-grow 300ms ease-in-out, background-color 500ms ease;
  text-align: left;
}
.multi-button a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.multi-button button + button {
  border-left: var(--border-size) solid rgb(255, 255, 255);
  margin-left: calc(var(--border-size) * -1);
}

.multi-button button:hover, /*Efeito de movimento do botao*/
  .multi-button button.selected {
  color: rgb(255, 255, 255);
  outline: none;
  /* text-shadow: none; */
  background-color: var(--color-secondary);
}

.multi-button button.selected {
  flex-grow: 1.2;
}
