html,
body {
    height: 100%;
    margin: 0;
    height: -webkit-fill-available; /* Chrome */
}

/* Firefox */
@-moz-document url-prefix() {
    body {
        box-sizing: border-box;
        padding: 1px;
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    background-color: #eeeef4;
}

header {
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    display: flex;
    background-color: #ffffff;
    top: 0;
}

header img,
header a:first-of-type image {
    box-sizing: border-box;
    object-fit: contain;
    max-height: 64px;
}

header > img:first-of-type {
    padding: 10px;
    flex: 1;
    cursor: pointer;
    display: none; /* PC */
}

header > a:first-of-type {
    display: flex;
    justify-content: center;
    flex: 9;
}

header > a:first-of-type img {
    padding: 12px;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    max-height: 100vh; /* PC */
    transition-property: max-height;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

header,
header nav {
    flex-wrap: wrap;
}

nav a {
    min-width: 120px;
    text-align: center;
    height: 63px;
    line-height: 63px;
    border-bottom: 1px solid transparent;
    opacity: 1; /* PC*/
    transition-property: opacity;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}

nav a:hover {
    color: #ff4500;
    border-bottom: 1px solid #ff4500;
}

a,
a:link,
a:hover,
a:visited,
a:active {
    text-decoration: none;
    color: initial;
}
